/*sectionHeader*/
.header{
    margin-bottom: 90px;
    max-width: 1400px;
}
.header > .row1{
display: flex;
align-items: center;
justify-content: space-between;
}

.col1{
    max-width: 40%;
}

.col1> p{
    font-family: var(--fontTexte);
    text-transform: uppercase;
    font-size: 40px;
}

.col2{
    display: flex;;
    gap:20px;
}

.header> h1{
    margin-bottom: 40px;
    margin-top: 20px;
}

p.intro{
    max-width: 75%;
    font-family: var(--fontTexte);
    font-size: 21px;
    font-weight: 700;
    line-height: 1.4em;
    margin-bottom: 40px;
}

.puce{
    display: grid;
    justify-content: flex-end;
    gap: 6px;
}

/*animation*/
.col2 img {
  display: inline-block;
  animation: float 4s ease-in-out infinite;
}

/* petit décalage entre chaque pour un effet plus organique */
.col2 img:nth-child(2) {
  animation-delay: 0.3s;
}

.col2 img:nth-child(3) {
  animation-delay: 0.6s;
}

/* animation de flottement */
@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* tu peux mettre -5px ou -15px selon l’effet désiré */
  }
}

/*section competence*/
.competence{
  position:relative;
    padding-top: 90px;
    padding-bottom: 90px;
    margin-bottom: 90px;
    background-color: var(--noir);
    max-width: 1400px;
}

.competence::before {
    content: "";
  position: absolute;
  inset: 0;               /* top:0; right:0; bottom:0; left:0; */
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;           /* plein écran */
  background-color: var(--noir);
  z-index: -1;  
}

.light > h2, .light > h3, .light > p {
    color: var(--beige);
}

.rowCompetence{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.ux, .code, .design{
  position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    height: 10em;
}

.ux > h3, .code > h3, .design > h3{
    width:30%;
}

.ux > p, .code > p, .design > p{
    width:50%;
}

.ux::before, .code::before, .design::before{
    content: "";
    position: absolute;
    display: block;
    /* bord gauche de l'écran : */
    left: calc(50% - 50vw);

    width: 50px;
    height: 10em;
    opacity: 0;
    animation: appearBar 0.8s ease forwards;
    
}
.code::before{
    background-color: var(--rose);
}
.ux::before{
    background-color: var(--orange);
}
 .design::before{
    background-color: var(--violet);
    
}

@keyframes appearBar {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.competence.is-visible .ux::before,
.competence.is-visible .code::before,
.competence.is-visible .design::before {


  animation: appearBar 0.8s ease forwards;
}

/*sectionTemoin*/
.temoin{
  position:relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 90px;
}
.temoin::after{
  content: "";
  position: absolute;
  top: -90px;
  transform: translateY(-50%); /* centre verticalement */
  right: 40px; /* place la flèche à droite du bouton */
  width: 200px;
  height: 100%;
  background-image: url("/src/assets/asterix.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  animation: rotateLoop 12s linear infinite;
}

@keyframes rotateLoop {
  from { transform: translateY(-50%) rotate(0deg); }
  to   { transform: translateY(-50%) rotate(360deg); }
}

/*PROJETS*/

.separateurDark {
  margin-top: 90px;
  margin-bottom: 90px;

  max-width: 1400px;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: transparent;

  border-image-source: repeating-linear-gradient(
    to right,
    var(--noir) 0 3px,   /* longueur du point */
    transparent 3px 40px /* espace entre les points */
  );
  border-image-slice: 1;
}

.projet{
  max-width: 1400px;
    margin-bottom: 90px;
}
.projet> h2{
    margin-bottom: 0px;
}