:root {
  --beige: #F9F4EB;
  --grage:#F0ECE5;
  --orange:#FCDCA6;
  --rose:#FFD2F3;
  --violet:#E5DAF6;
  --jaune:#FFE32E;
  --noir:#000000;
  --blanc:#ffffff;

  --fontTitre:"Archivo Narrow", sans-serif;
  --fontTexte:"Inter", sans-serif;
  --fontCode:"IBM Plex Mono", monospace;
}

body{
  background-color: var(--beige);
  margin: 0px;
  min-width: 320px;
  min-height: 100vh;
}

h1{
  font-family: var(--fontTitre);
  color: var(--noir);
  font-size: 100px;
  font-weight: 600;
  text-transform: uppercase;
}
h2{
  font-family: var(--fontTitre);
  color: var(--noir);
  font-size: 60px;
  font-weight: 600;
  text-transform: uppercase;
}
h3{
  font-family: var(--fontTexte);
  color: var(--noir);
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
}
h4{
  font-family: var(--fontTexte);
  color: var(--noir);
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
}
h4 > span{

  font-weight: bold;
  
}
h3.span{
  font-weight:700;
}
p{
  font-family: var(--fontTexte);
  color:var(--noir);
  font-size: 16px;
  font-weight: 400;
}
a{
  font-family: var(--fontCode);
  color: var(--noir);
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}
a.dark, h1.dark, h2.dark, h3.dark,p.dark{

  color: var(--beige)!important;
}

a:hover{
  color: var(--beige);
}
a.dark:hover{

  color: var(--jaune)!important;
}

ul{
  display:flex;
  align-items: flex-end;
  gap:20px;
  list-style: none;
  margin: 0;
}
li{
  text-decoration: none;
}
.padding{
  padding: 0px 80px;
}

.realisation-dark {
  background-color: #000 !important;
}
