.headerDark{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerDark > h1{
    color: var(--beige);
    text-align: center;
    line-height: 1.2em;
}
.headerDark > p{
    color: var(--beige);
    text-align: center;
    width: 50%;
}


.icon > img{
    width: 24px;
    padding: 6px;
}